<br>
<table summary="">
    <tr>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td align="center">Deze Site is nog in ontwikkeling.<br>
            Alles moet nog op de goede plaats gezet worden<br>
            en worden aangevult
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </td>
    </tr>
</table>
