body {
    background-color : #f0f8ff;
}

a.valid:link {
    color: #f0f8ff
}
a.valid:visited {
    color: #f0f8ff
}

div.subtitle {
    font-size : 10px;
}

table.menu {
    font-size : 18px;
}

table.submenu {
    font-size : 12px;
}

div.trail {
    font-size : 10px;
}
